.layout-admin {
  > header.header {
    .navbar-fixed-top {
      border-width: 1px;
      .container {
        width: 100%;
        .navbar-header {
          .navbar-brand {
            padding: 11px 0 11px 10px;
            img {
              display: inline;
              width: 40px;
            }
            .text {
              position: relative;
              top: 3px;
            }
          }
        }
      }
      .navbar-collapse {
        .navbar-right {
          margin-right: -10px;
        }
      }
    }
  }
  > main.container-fluid {
    .wrapper {
      margin-left: -15px;
      margin-right: -15px;
      .content {
        float: left;
        margin-left: 200px;
        padding: 68px 20px 50px;
        width: calc(100% - 200px);
      }
    }
  }
  > footer.footer {
    position: fixed;
  }
}
